server {
    server_name FILL_DOMAIN;

    location / {
        proxy_pass http://172.71.3.11;
    }
}

server {
    server_name pma.FILL_DOMAIN;

    location / {
        proxy_pass http://172.71.3.14;
    }
}