/.env.test
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/

public/i/*
!public/i/.gitkeep

build/nginx/*
!build/nginx/.site.conf.example

/var/
/vendor/
/bin/.phpunit
/phpunit.xml
.phpunit.result.cache
